<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_TW</string>
	<key>CFBundleDisplayName</key>
	<string>SceneHarbor Wallpaper</string>
	<key>CFBundleExecutable</key>
	<string>SceneHarborWallpaperExtension</string>
	<key>CFBundleIdentifier</key>
	<string>org.sceneharbor.SceneHarbor.WallpaperExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SceneHarborWallpaperExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.13.5</string>
	<key>CFBundleVersion</key>
	<string>55</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.wallpaper</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
</dict>
</plist>
